@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Georgia';
		src: url('/fonts/georgia.ttf') format('.ttf');
		font-style: normal;
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'DMSans';
		src: url('/fonts/DMSans.ttf') format('.ttf');
		font-style: normal;
		font-weight: normal;
		font-display: swap;
	}
}
